{% if request.user.account_type == 'S' %}
<div class="menu">
    <ul>
        <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
        <li><a href="{% url 'index_curriculum' %}">Curriculum</a></li>
        <li><a href="">Payments</a></li>
        <!-- TODO Make the school calendar visible on the main dashboard. -->
        <!-- <li><a href="">Calendar</a></li> -->
        <li><a href="{% url 'index_records' %}">Records</a></li>
        <li><a href="{% url 'index_messages' %}">Messages</a></li>
    </ul>
</div>
{% else %}
<div class="menu lecturer">
    <ul>
        <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
        <li><a href="{% url 'index_students' %}">My Students</a></li>
        <li><a href="{% url 'index_grading' %}">Grading</a></li>
        <li><a href="{% url 'index_messages' %}">Messages</a></li>
        <li><a href="{% url 'index_attendance' %}">Attendance</a></li>
    </ul>
</div>
{% endif %}

