<!-- Navbar -->
<section>
    <nav class="navbar navbar-expand-lg bg-body-secondary">
        <div class="container">
            <h2 class="navbar-brand">Welcome, {{request.user.full_name}}</h2>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="{% url 'dashboard' %}" class="nav-link">Home</a>
                    </li>
                    {% if request.user.account_type == 'S' %}
                    <li class="nav-item dropdown">
                        <a href="" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Curriculum</a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'index_curriculum' %}" class="dropdown-item">My Courses</a></li>
                            <li><a href="{% url 'course_registration' %}" class="dropdown-item">Course Registration</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li class="nav-item dropdown">
                        <a href="" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Curriculum</a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'document_upload' %}" class="dropdown-item">Upload Document</a></li>
                            {% if request.user.lecturer.courseregistrationofficer_set %}
                            <li><a href="{% url 'course_approval' %}" class="dropdown-item">Approve Course Forms</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a href="{% url 'index_payments' %}" class="nav-link">Payments</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'index_messages' %}" class="nav-link">Messages</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Records</a>
                        <ul class="dropdown-menu">
                            {% if request.user.account_type == 'S' %}
                            <li><a href="{% url 'student_attendance_view' %}" class="dropdown-item">Attendance</a></li>
                            <li><a href="{% url 'student_grades_view' %}" class="dropdown-item">Grades</a></li>
                            {% elif request.user.account_type == 'L' %}
                            <li><a href="{% url 'index_attendance' %}" class="dropdown-item">Record Attendance</a></li>
                            <li><a href="{% url 'index_grading' %}" class="dropdown-item">Record Grades</a></li>                         
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</section>

