#header{
   margin-top: 25px;
}

#footer{
   margin-bottom: 25px
}

.fieldWrapper input{
   padding: 5px 5px;
   margin: 10px 5px;
   outline: none;
   font-size: 16px;
}

.menu{
   background-color: blue;
   height: 50px;
   width: 100%;
   padding: 5px 10px
}

.menu ul{
   height: 100%;;
   display: flex;
   align-items: center;
   justify-content: space-around;
}

.menu li{
   list-style: none;
   color: white;
   cursor: pointer
}

.menu a{
   text-decoration: none;
   color: white;
   transition: all 0.3s;
   border-radius: 40px;
   padding: 5px;
}

.menu a:hover{
   color: black;
   background-color: white;
}

.menu.lecturer{
   background-color: black;
}

.courseBox{
   padding: 20px
}

.courseBox h2{
   color: blue;
   font-weight: 400;
   margin-bottom: 30px;
}

.courseCode{
   width: auto;
   color: blue;
}

.messageBox{
   padding: 25px;
   border: 1px solid black;
   margin-bottom: 30px;
}

.messageBox > h3{
   color: red;
   font-weight: 400;
   margin: 10px 0;
}

.messageBox p{
   line-height: 10px;
}

#studentList, th, td{
   border: solid 1px black;
   text-align: center;
}

#lecturer-index{
   padding: 20px;
   margin-top: 10px;
}

.lecturer-course-box{
   padding: 15px;
   margin-top: 10px;
}

.lecturer-course-box a{
   color: white;
   padding: 5px 10px;
   text-align: center;
   background-color: green;
   border-radius: 10px;
}
}
