{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schooled-You | Login</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <style>
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        body{
            background: url("{% static 'assets/images/school-04.jpg' %}");
            background-position: center;
            background-size: cover;
        }
    </style>
</head>
<body>

    <!-- Login  -->
    <section>
        <div class="row vh-100 w-100 d-flex justify-content-center align-items-center">
            <div class="col-8 col-sm-6 col-md-4 col-lg-3">
                <div class="card bg-dark">
                    {% if messages %}
                    {% for message in messages %}
                    <p class="text-danger">{{message}}</p>
                    {% endfor %}
                    {% endif %}
                    <div class="card-body text-white">
                        <h3 class="fw-bold text-center">LOGIN</h3>
                        <p class="text-center mb-4 text-white text-opacity-50">Please enter your email and password.</p>
                        <form action="" method="post">
                            {% csrf_token %}
                            <label for="email" class="form-label">Email</label>
                            <input type="email" name="email" id="email" class="form-control mb-2">
                            <label for="password">Password</label>
                            <input type="password" name="password" id="password" class="form-control mb-2">
                            <button class="btn w-100 btn-outline-success my-4">Login</button>
                        </form>
                        <small class="mt-2 d-block text-center">Don't have an account? <a href="{% url 'register' %}" class="text-white text-opacity-75">Register here</a>.</small>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="bootstrap.bundle.js"></script>
</body>
</html>