{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schooled-You | Register</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <style>
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        body{
            background: url("{% static 'assets/images/school-04.jpg' %}");
            background-position: center;
            background-size: cover;
        }
    </style>
</head>
<body>
    <!-- Register -->
    <section>
        <div class="container d-flex justify-content-center">
            <div class="row vh-100 w-100 d-flex justify-content-center align-items-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card pt-3">
                        {% if messages %}
                        {% for message in messages %}
                        <p class="text-danger text-center mt-2">{{message}}</p>
                        {% endfor %}
                        {% endif %}
                        <form action="" method="post">
                            {% csrf_token %}
                            <h3 class="text-center fw-bold">REGISTER</h3>
                            <p class="text-center mb-3">Please enter your details below.</p>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="fieldWrapper mb-3">
                                            <label for="account_type">Account Type</label>
                                            <select name="account_type" id="account_type" class="form-select">
                                                <option value="S">Student</option>
                                                <option value="L">Lecturer</option>
                                            </select>
                                        </div>
                                        <div class="fieldWrapper mb-3">
                                            <label for="first_name">First Name</label>
                                            <input type="text" name="first_name" id="first_name" class="form-control">
                                        </div>
                                        <div class="fieldWrapper mb-3">
                                            <label for="last_name">Last Name</label>
                                            <input type="text" name="last_name" id="last_name" class="form-control">
                                        </div>
                                        <div class="fieldWrapper mb-3">
                                            <label for="first_name">Middle Name</label>
                                            <input type="text" name="middle_name" id="middle_name" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="fieldWrapper mb-3">
                                            <label for="email">Email</label>
                                            <input type="email" name="email" id="email" class="form-control">
                                        </div>
                                        <div class="fieldWrapper mb-3">
                                            <label for="password1">Password</label>
                                            <input type="password" name="password1" id="password1" class="form-control">
                                        </div>
                                        <div class="fieldWrapper mb-3">
                                            <label for="password2">Password Confirmation</label>
                                            <input type="password" name="password2" id="password2" class="form-control">
                                        </div>
                                        <input type="submit" value="Register" class="btn btn-success w-100 text-center mt-4">
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- Hello -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
</body>
</html>