{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schooled-you! Register</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>


<body>
    {% for message in messages %}
    <div class="alert" role="alert">{{message}}</div>
    {% endfor %}
        <div class="d-flex justify-content-center h-100 align-items-center">
            <div class="card col col-sm-6 col-md-5 mx-sm-3">
                <div class="card-header text-center">
                    <div class="card-text h3">Student Registration</div>
                </div>
                <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                 <label for="email">Email</label>
                 <input type="email" name="email" id="" class="form-control">
                 <label for="password1">Password</label>
                 <input type="password" name="password1" id="" class="form-control">
                 <label for="password2">Confirm Password</label>
                 <input type="password" name="password2" id="" class="form-control">
                 <button type="submit" class="btn btn-primary mt-2">Register</button>
                </form>
                <p class="text-muted text-center mt-2">Looking for teacher registration? Check <a class= "text-decoration-none" href="{% url 't_register' %}">here</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>