{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row d-flex vh-60 justify-content-center align-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <div class="display-3"><i class="fa fa-check-circle me-2" style="color: green;"></i>Success</div>
                </div>
                <div class="card-body">
                    <p>Your payment was successful.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}