{% extends 'base.html'%}

{% load static %}

{% block background_image %}{% static 'assets/images/books.jpg' %}{% endblock background_image %}

{% block content %}

    <!-- Grades Section -->
    <section>
        <div class="container">
            <div class="row pt-3">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header bg-body-secondary">
                            <h3 class="text-center fw-bold">My Results</h3>
                        </div>
                        <div class="card-body results__box d-flex flex-column justify-content-between">
                            <table class="table table-bordered text-center overflow-y-scroll">
                                <thead>
                                    <tr>
                                        <th>Course</th>
                                        <th>Score</th>
                                        <th>Grade</th>
                                    </tr>
                                </thead>
                                {% for record in grades %}
                                <tr>
                                    <td>{{record.course.code}}</td>
                                    <td>{{record.overall}}</td>
                                    <td>{{record.grade_letter}}</td>
                                </tr>
                                {% endfor %}
                            </table>
                            <a href="{% url 'result_pdf_view' %}" class="btn btn-primary w-100 mt-3">Print Result</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% endblock content %}