{% extends 'base.html' %}

{% block title %} Dashboard {% endblock title %}

{% block content %}

    <h1>Welcome, {{request.user.first_name}}</h1>
    {% if request.user.account_type == 'S' %}
    <p>This is a student dashboard.</p>
    <div class="course-box">
        <p>Courses you are taking this semester: </p>
        {% with courses=request.user.student.courses.all %}
            {% for course in courses %}
            <p>{{course.title}}</p>
            {% endfor %}
        {% endwith %}

    </div>
     
    {% else %}
    <p>This is a lecturer dashboard.</p>
    {% endif %}
    <a href="{% url 'logout' %}">Logout</a>

{% endblock content %}
