{% extends 'base.html' %}

{% load static %}

{% block background_image %}{% static 'assets/images/mail.png' %}{% endblock background_image %}


{% block content %}

    <!-- Messages Section -->
    <section class="pt-2 pt-md-5">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-md-8 mb-3 mb-md-0">
                    <div class="card">
                        <div class="card-header bg-success-subtle">
                            <h3>Messages</h3>
                        </div>
                        <div class="card-body bg-body-tertiary mailbox__container p-0 pe-2">
                            {% for message in user_messages %}
                            <div class="message__container mb-2 mb-md-1" data-message-id="{{message.id}}">
                                {% if message.sender.account_type == 'S' %}
                                <img src="{{message.sender.student.profile_picture.url}}" alt="" class="img-fluid me-2 me-md-0">
                                {% elif message.sender.account_type == 'L' %}
                                <img src="{{message.sender.lecturer.profile_picture.url}}" alt="" class="img-fluid me-2 me-md-0">
                                {% endif %}
                                <div class="message__item">
                                    <div class="message__sender">{{ message.sender.full_name }} <span class="message__timestamp">
                                        {% if message.timestamp > twenty_four_hours_ago %}
                                        {{message.timestamp|date:'g:i a'}}
                                        {% else %}
                                        {{message.timestamp|date:'j M'}}
                                        {% endif %}
                                    </span></div>
                                    <div class="message__title">{{ message.title }}</div>
                                    <div class="d-flex justify-content-between">
                                        <p class="message__slice">{{ message.body|truncatechars:85 }}</p>
                                        {% if message.is_favourite %}
                                        <i class="fa-solid fa-star favourite__icon" style="font-size: 1.2em;color: darkorange"></i>
                                        {% else %}
                                        <i class="fa-regular fa-star favourite__icon" style="font-size: 1.2em;
                                        color: darkorange"></i>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="d-flex flex-column justify-content-between">
                        <div class="card">
                            <div class="card-header bg-success-subtle text-center">
                                <h4>Mailbox</h4>
                            </div>
                            <div class="card-body p-0">
                                <div class="mailbox__field">
                                    <span>Inbox <span class="text-muted small ms-2">{{total}}</span></span>
                                </div>
                                <div class="mailbox__field">
                                    <span>Starred <span id="favouriteCount" class="text-muted small ms-2">{{starred}}</span></span>
                                </div>
                                <div class="mailbox__field">
                                    <span>Important <span class="text-muted small ms-2">{{important_total}}</span></span>
                                </div>
                                <div class="mailbox__field">
                                    <span>Sent <span id="sentCount" class="text-muted small ms-2">{{sent_total}}</span></span>
                                </div>
                            </div>
                        </div>
                        <div id="sendMessageBox" class="card mt-3">
                            <div class="card-body">
                                <div class="">
                                    <input type="email" name="recipient" id="recipient" placeholder="To: person@email.com">
                                    <input type="text" id="title" placeholder="Title:">
                                </div>
                                <p contenteditable="true" class="message__body">
                                </p>
                                <button id="sendMessageButton" class="btn btn-success text-center w-100">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    {% endblock content  %}

    {% block extrajs %}

    <script>

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');

        const favouriteCountDisplay = document.getElementById('favouriteCount');
        const sentCountDisplay = document.getElementById('sentCount');

        const messageContainers = document.querySelectorAll('.message__container');
        for(let messageContainer of messageContainers){
            messageContainer.addEventListener('click', (e) => {
                let messageId = messageContainer.dataset.messageId;
                if(e.target.classList.contains('favourite__icon')){
                    if(e.target.classList.contains('fa-regular')){
                        e.target.classList.remove("fa-regular");
                        e.target.classList.add('fa-solid');
                        addToFavourites(messageId);
                    } else{
                        e.target.classList.remove('fa-solid');
                        e.target.classList.add('fa-regular');
                        removeFromFavourites(messageId)
                    }
                } else{
                    window.location.href = `message/${messageId}`
                }
            })
        }

        const sendMessageButton = document.getElementById('sendMessageButton');

        const recipient = document.getElementById('recipient');
        const title = document.getElementById('title');

        // Check if there's saved data from a message-reply action.
        if(localStorage.getItem('reply-title') && localStorage.getItem('reply-recipient')){
            recipient.value = localStorage.getItem('reply-recipient');
            localStorage.removeItem('reply-recipient');
            title.value = localStorage.getItem('reply-title');
            localStorage.removeItem('reply-title');
        }

        const messageBody = document.querySelector('.message__body');

        sendMessageButton.addEventListener('click', (e) => {
            const messageBodyContent = messageBody.textContent;
            const recipientValue = recipient.value;
            const titleValue = title.value;
    
            url = "{% url 'send_message' %}"; 
            
            fetch(url, {
                method: 'POST',
                headers : {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                },
                body: JSON.stringify({
                    recipient: recipientValue,
                    title: titleValue,
                    message: messageBodyContent
                })
            }).then((response) => {
                return response.json();
            }).then((data) => {
                console.log("Message sent successfully");
                const updatedCount = data['updated-count'];
                sentCountDisplay.textContent = updatedCount;
                recipient.value = "";
                title.value = "";
                messageBody.textContent = "";
            }).catch(e => {
                console.log("Whoops. Something went wrong, ", e);
            })
        })

        function addToFavourites(messageId){

            url = "{% url 'add_to_favourites' %}"

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                },
                body: JSON.stringify({
                    "messageId": messageId
                })
            }).then((response) => {
                return response.json();
            }).then((data) => {
                updatedCount = data['updated-count'];
                favouriteCountDisplay.textContent = updatedCount;
            }).catch((e) => {
                console.log("An error occured, ", e)
            })
        }

        function removeFromFavourites(messageId){
            url = "{% url 'remove_from_favourites' %}"

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                },
                body: JSON.stringify({
                    "messageId": messageId
                })
            }).then((response) => {
                return response.json();
            }).then((data) => {
                updatedCount = data['updated-count'];
                favouriteCountDisplay.textContent = updatedCount;
            }).catch((e) => {
                console.log("An error occured, ", e)
            })
        }
    

    </script>

    {% endblock %}