{% extends 'base.html' %}

{% load static %}

{% block background_image %}{% static 'assets/images/mail.png' %}{% endblock background_image %}


{% block content %}

    <!-- Messages Section -->
    <section class="pt-2 pt-md-5">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-md-8 mb-3 mb-md-0">
                    <div class="card">
                        <div class="card-header bg-success-subtle">
                            <h3>Messages</h3>
                        </div>
                        <div class="card-body bg-body-tertiary mailbox__container p-0 pe-2">
                            {% for message in user_messages %}
                            <div class="message__container mb-2 mb-md-1" data-message-id="{{message.id}}">
                                {% if message.sender.account_type == 'S' %}
                                <img src="{{message.sender.student.profile_picture.url}}" alt="" class="img-fluid me-2 me-md-0">
                                {% elif message.sender.account_type == 'L' %}
                                <img src="{{message.sender.lecturer.profile_picture.url}}" alt="" class="img-fluid me-2 me-md-0">
                                {% endif %}
                                <div class="message__item">
                                    <div class="message__sender">{{ message.sender.full_name }} <span class="message__timestamp">{{message.timestamp|time}}</span></div>
                                    <div class="message__title">{{ message.title }}</div>
                                    <p class="message__slice">{{ message.body|truncatechars:85 }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header bg-success-subtle text-center">
                            <h4>Mailbox</h4>
                        </div>
                        <div class="card-body p-0">
                            <div class="mailbox__field">
                                <span>Inbox <span class="text-muted small ms-2">{{total}}</span></span>
                            </div>
                            <div class="mailbox__field">
                                <span>Starred</span>
                            </div>
                            <div class="mailbox__field">
                                <span>Important</span>
                            </div>
                            <div class="mailbox__field">
                                <span>Spam</span>
                            </div>
                            <div class="mailbox__field">
                                <span>Sent</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    {% endblock content  %}

    {% block extrajs %}

    <script>
        const messageContainers = document.querySelectorAll('.message__container');
        for(let messageContainer of messageContainers){
            messageContainer.addEventListener('click', (e) => {
                let messageId = messageContainer.dataset.messageId;
                window.location.href = `message/${messageId}`
            })
        }
    </script>

    {% endblock %}