{% extends 'base.html' %}

{% load static %}

{% block content %}

    <!-- Main Content -->

    <section id="main" class="bg-tertiary pt-3">
        <div class="container">
            <div class="row py-3 vh-50">
                <div class="col-md-3 border-1">
                    {% if request.user.student.profile_picture %}
                    <img src="{{request.user.student.profile_picture.url}}" alt="" class="img-fluid profile_picture">
                    {% else %}
                    <img src="{% static 'assets/images/profile-img.png' %}" alt="" class="img-fluid">
                    {% endif %}
                </div>
                <div class="col-md">
                    <h3>Profile Information</h3>
                    <div class="row mb-2">
                        <div class="col-4 col-md-3">{{request.user.student.matric_number}}</div>
                        <div class="col-4 col-md-3">{{request.user.student.department.name}}</div>
                        <div class="col-4 col-md-3">{{request.user.student.level}} Level</div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-4 col-md-3">{{request.user.student.birthdate}}</div>
                        <div class="col-4 col-md-3">{{request.user.student.state_of_origin}}</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Bottom Panel -->
    <section>
        <div class="container">
            <div class="row g-3 py-md-3">
                <div class="col-md">
                    <div class="img-container">
                        <img src="{% static 'assets/images/calendar.jpg' %}" alt="" class="img-fluid img">
                        <div class="img__overlay">
                            <div class="img__title">Calendar</div>
                            <p class="img__description">View your school calendar.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="img-container">
                        <img src="{% static 'assets/images/school-11.jpg' %}" alt="" class="img-fluid">
                        <div class="img__overlay">
                            <div class="img__title">Assignments</div>
                            <p class="img__description">Keep track of your assignments.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="img-container">
                        <img src="{% static 'assets/images/school-24.jpg' %}" alt="" class="img-fluid">
                        <div class="img__overlay">
                            <div class="img__title">News</div>
                            <p class="img__description">Stay up to date with happenings.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
 
    <!-- Footer -->
    <section class="">
        <div class="container">
            <div class="row">
                
            </div>
        </div>
    </section>

{% endblock content %}
